<footer class="footer">
    <div class="footer__inner">        
        {% for link in footer %}
            <a href="#" class="footer__link">{{ link.name }}</a>
        {% endfor %}
    </div>
</footer>
