{% extends './layout.njk' %}

{% block body %}
    <main class="main">
        <h1>{{ title }}</h1>

        {% for item in items %}
            <article>{{ item.name }}</article>
        {% endfor %}
    </main>

{% endblock %}
