{% from "macros/article.njk" import article %}
{% extends './layouts/layout.njk' %}

{% block body %}
    <main class="main">
        <div class="main__inner">
            <section class="feed__intro">
                <h3 class="intro__title">{{ title }}</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam autem voluptatem excepturi, dolor est odio perferendis magnam vitae praesentium repudiandae, delectus ut, tempora suscipit cupiditate eum qui fugit possimus provident.</p>
            </section>
            <div class="feed">
                {% for item in items %}
                    {{ article(item.name, item.title, item.text) }}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
