<footer class="footer">
    <div class="footer__inner">
        <nav class="footer__nav">
            {% for link in footer %}
                <a href="#" class="footer__link">{{ link.name }}</a>
            {% endfor %}
        </nav>
    </div>
</footer>
