<header class="header">
    <div class="header__inner">
        <a href="#" class="header__logo">
            {{ title }}
            {% include './logo.njk' %}
        </a>
        <nav class="header__nav">
            {% for link in nav %}
                <a href="#" class="header__link">{{ link.name }}</a>
            {% endfor %}
        </nav>
    </div>
</header>
