{% macro article(name, title, text) %}
  <article class="feed__article article">
    <header class="article__header">
      <h3 class="article__title">{{ title }}</h3>
    </header>
    <section class="article__body">
      <p>{{ text }}</p>
      <footer class="article__footer">
        <a class="article__footer-link" href="#">Link one</a>
        <a class="article__footer-link" href="#">Link two</a>
      </footer>
    </section>
  </article>
{% endmacro %}
