// Main

.main {
  display: flex;
  flex-grow: 1;
  justify-content: center;

  &__inner {
    display: grid;
    flex: 0 1 $width;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: min-content;
    margin: $gutter*2 $gutter $gutter*4 $gutter;

    &::before {
      content: "";
      display: flex;
      flex: 1;
      grid-column: 7 / 13;
    }
  }
}

.feed {
  grid-auto-flow: column;

  &__intro {
    grid-column: 1 / 6;
    grid-row: 1;
  }

  &__article {
    background: #eeeeee;
    grid-column: span 3;
    padding: 1rem;

    &:first-child {
      background: #3d3d3d;
      grid-row-end: 2;
      grid-row-start: 2;
    }
  }
}
